.custom-scroll {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 4px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-slate-300/50;
    }

    &::-webkit-scrollbar-track {
        @apply bg-transparent rounded-lg;
    }

    &::-webkit-scrollbar-corner {
        @apply bg-transparent;
    }
}

.filter-options li a {
    @apply bg-transparent inline-flex justify-center items-center gap-x-2 text-center rounded border border-transparent px-3 py-1.5 text-sm transition-all font-semibold disabled:opacity-50 disabled:pointer-events-none;
}

.filter-options li.active a,
.filter-options li:active a,
.filter-options li:focus a,
.filter-options li:hover a {
    @apply bg-primary text-white;
}

.jvm-zoom-btn {
    @apply flex items-center justify-center;
}

.ql-toolbar.ql-snow {
    @apply border-default-100 rounded-t-lg;
}

.ql-container.ql-snow {
    @apply border-default-100 rounded-b-lg;
}