{% load static i18n %}
<!-- Footer Start -->
<footer class="footer border-t border-default-100 bg-white py-4 flex items-center">
    <div class="container flex md:justify-between justify-center w-full gap-4">
        <div class="text-default-700 font-medium">
            <script>
                document.write(new Date().getFullYear())
            </script>
            © Xeloro
        </div>
        <div class="md:flex hidden gap-2 item-center md:justify-end">
            Design &amp; Develop by
            <a href="#" class="text-primary">MyraStudio</a>
        </div>
    </div>
</footer>
<!-- Footer End -->
