{% load static i18n %}
<!-- Topbar Start -->
<header class="app-header sticky top-0 z-50 min-h-topbar flex items-center bg-white border-b border-default-100 shadow shadow-default-900/2 print:hidden">
    <div class="container flex items-center justify-between gap-4">
        <div class="flex items-center gap-4">
            <!-- Topbar Brand Logo -->
            <a href="{% url 'pages:dashboard' %}" class="lg:hidden flex items-center gap-2">
                <!-- Add your logo image here (recommended size: 28×28) -->
                <!-- <img src="{% static 'images/logo.png' %}" alt="Cinema Logo" class="size-7 rounded-full"> -->

                <div class="size-7 rounded-full flex items-center justify-center text-primary ring ring-primary">
                    <i class="iconify tabler--circle-dot-filled size-6.5"></i>
                </div>

                <span class="font-black text-2xl/none text-default-800 uppercase tracking-wider md:flex hidden">Cinema</span>
            </a>

            <!-- Sidenav Menu Toggle Button -->
            <button class="btn p-2 border-default-200" data-hs-overlay="#app-menu" aria-label="Toggle navigation">
                <i class="iconify tabler--align-left text-xl"></i>
            </button>


        </div>

        <div class="flex items-center gap-4">


            <!-- Fullscreen Toggle Button -->
            <div class="md:flex hidden">
                <button data-toggle="fullscreen" type="button" class="hs-dropdown-toggle btn p-2 border-default-200">
                    <span class="sr-only">Fullscreen Mode</span>
                    <i class="iconify tabler--maximize text-xl inline-flex in-[.fullscreen]:hidden"></i>
                    <i class="iconify tabler--minimize text-xl hidden in-[.fullscreen]:inline-flex"></i>
                </button>
            </div>

            <!-- Profile Dropdown Button -->
            <div class="relative">
                <div class="hs-dropdown relative inline-flex [--placement:bottom-right]">
                    <!-- Toggle -->
                    <button type="button" class="hs-dropdown-toggle flex items-center gap-2">
                        <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-image" class="size-9 rounded-full" />
                        <span class="hidden sm:block text-sm font-semibold text-default-800">John Doe</span>
                        <i class="iconify tabler--chevron-down text-default-500"></i>
                    </button>

                    <!-- Menu -->
                    <div class="hs-dropdown-menu duration mt-2 min-w-44 rounded-lg border border-default-100 bg-white p-2 opacity-0 shadow shadow-default-900/2 transition-[opacity,margin] hs-dropdown-open:opacity-100 hidden">
                        <a href="#" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-default-800 hover:bg-default-100">
                            <i class="iconify tabler--user text-base text-default-500"></i>
                            Profile
                        </a>

                        <a href="#" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-default-800 hover:bg-default-100">
                            <i class="iconify tabler--rss text-base text-default-500"></i>
                            Feed
                        </a>

                        <a href="#" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-default-800 hover:bg-default-100">
                            <i class="iconify tabler--chart-bar text-base text-default-500"></i>
                            Analytics
                        </a>

                        <a href="#" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-default-800 hover:bg-default-100">
                            <i class="iconify tabler--settings text-base text-default-500"></i>
                            Settings
                        </a>

                        <a href="#" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-default-800 hover:bg-default-100">
                            <i class="iconify tabler--lifebuoy text-base text-default-500"></i>
                            Support
                        </a>

                        <hr class="my-2 -mx-2 border-default-100" />

                        <a href="{% url 'pages:dynamic_pages' template_name='auth-logout' %}" class="flex items-center gap-2 py-2 px-3 rounded-md text-sm text-danger hover:bg-danger/10">
                            <i class="iconify tabler--logout text-base"></i>
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Topbar End -->
